/* UNIVERSAL STYLING */

/* Type styling */
body {
    font-family: 'Onest', sans-serif !important;
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Onest', sans-serif !important;
}

h1 {
    font-size: 2.7rem !important;
    line-height: 2.75rem !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 2.25rem !important;
    line-height: 2.375rem !important;
    font-weight: 700 !important;
}


/* Disable lightbox/zoom on images */
a.lightbox-image {
    pointer-events: none !important;
    cursor: default !important;
}

a.lightbox-image img {
    cursor: default !important;
}


/* HOMEPAGE STYLING */

/* Homepage hero text alignment */
#section_365 .pb-text-content,
#section_365 .pb-headline,
#section_365 .pb-headline h1,
#section_365 .pb-description,
#section_365 .pb-description p {
    text-align: left !important;
}

#section_365 .pb-cta-button-container {
    text-align: left !important;
}


/* Custom cards */
.custom-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem 0;
    margin: 0px 80px 0px 80px;
}

.custom-card {
    background-color: #f9e2ce;
    border-radius: 1rem;
    padding: 0.75rem;
    flex: 1 1 280px;
    max-width: 360px;
    box-sizing: border-box;
}

.custom-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.custom-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.custom-resource-image {
  background-color: #ffffff;
  border-radius: 0.75rem;
  height: 160px;
  margin-bottom: 1rem;
}


/* Padding adjustments */
#section_41476 .pb-text-content {
    padding-bottom: 16px !important;
}

#section_41467 .container {
    padding-bottom: 40px !important;
}

/* Divider */
#section_41509 img {
    width: 90% !important;
    margin: 0px !important;
}

#section_41509 .pb-text-content {
    padding: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}




/* ABOUT STYLING */

/* About Hero */
#section_41675 img {
    width: 100% !important;
    max-width: 1440px !important;
}

#section_41675 .pb-text-content {
    padding-bottom: 0px !important;
    padding-top: 24px !important;
}

#section_41665 .pb-text-content {
    max-width: 700px !important;
}

#section_41665 .container {
    max-width: 700px !important;
    justify-text: center !important;
}

/* About (who section) */

#section_41674 .pb-text-content {
    max-width: 700px !important;
}

#section_41674 .container {
    max-width: 700px !important;
    justify-text: center !important;
}
