/* Type styling */
body {
    font-family: 'Onest', sans-serif !important;
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Onest', sans-serif !important;
}

h1 {
    font-size: 2.7rem !important;
    line-height: 2.75rem !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 2.25rem !important;
    line-height: 2.375rem !important;
    font-weight: 700 !important;
}


/* Homepage hero text alignment */
#section_365 .pb-text-content {
    text-align: left !important;
}

#section_365 .pb-form-container {
    justify-content: flex-start !important;
}


/* Custom cards */
.custom-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem 0;
    margin: 0px 80px 0px 80px;
}

.custom-card {
    background-color: #f9e2ce;
    border-radius: 1rem;
    padding: 0.75rem;
    flex: 1 1 280px;
    max-width: 360px;
    box-sizing: border-box;
}

.custom-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.custom-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.custom-resource-image {
  background-color: #ffffff;
  border-radius: 0.75rem;
  height: 160px;
  margin-bottom: 1rem;
}


/* Padding adjustments */
#section_41476 .pb-text-content {
    padding-bottom: 24px !important;
    margin-bottom: 24px !important;
}

/* Divider */
#section_41509 img {
    width: 90% !important;
    margin: 0px !important;
}

#section_41509 .pb-text-content {
    padding: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}
